
{% extends 'dashboard/base.html' %}
{% block title %}Reception-registration{% endblock title %}
{% block content %}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="row w-100 m-0">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
          <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
              <h3 class="card-title text-left mb-3">Change Password</h3>
              {% load crispy_forms_tags %}
              <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn">Change</button>
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
{% endblock content %}


