
  @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  body {
    background-color: #f4f8fa;
    overflow-x: hidden;
    
  }

.mycontainer{
  background-image: url('../img/Vector\ 1.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y:-6rem;
}


  .specialheader {
    text-align: center;
    color: #181725;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
  
  .about2 {
    width: auto;
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
  }
  
  .innnerabout {
    /* width: 50px; */
    background: rgb(255 255 255);
    margin: 10px 3px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    padding: 0px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
  }
  
  .about-img {
    width: 120px;
  }




  ul,
  a,
  li,
  button {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
  }
  ul,
  a,
  li,
  button:hover {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
  }
.owl-carousel-category .owl-nav button {
    top: 36px;
}
.stikiness{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #f4f8fa;
}
.content{
  display: none;
}
.content.active{
  display: block;
}

.ace-category-item {
    background: rgb(255 255 255);
    margin: 10px 3px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    padding: 0px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    /* border: 1px solid #fff; */
}

.mb-1{
  font-size: 16px;
  font-weight: 600;
}
.ace-category-item h6 {
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    padding-bottom: 10px;
}
.ace-category-item p {
    margin: 0 0 4px 0;
    font-size: 10px;
}
.ace-category-item img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    transition: transform .7s ease;
    margin: 0px 0 7px 0;
}
.ace-category-item img:hover {
	transform: scale(1.1);
}
.p-5.ace-invoice.bg-white.shadow-sm {
  padding: 15px !important;
}

footer {

  position: fixed;
  bottom: 0;
  overflow: hidden;
  background: #424bf5;
  height: 80px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  z-index: 1000;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: none;
  text-align: center;
}

.footer-icon {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.footer-icon li {
  margin: 0 10px;
}

.footer-icon a {
  text-decoration: none;
  color: #424bf5;
  border: 1.1px solid white;
  padding: 5px;
  background: white;
  border-radius: 5px;

}

.footer-icon a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.btn-cart {
  text-decoration: none;
  color: #424bf5;
  border: 1.1px solid white;
  padding: 5px;
  background: white;
  border-radius: 5px;
  transition: color .4s ease;
  
  
  
}

.btn-cart:hover {
  color: white;
  background: #0e148b;
  border: 1.1px solid #0e148b;

}


/* .btn-checkout:hover {
  color: white;
  background: #424bf5;
  border: 1.1px solid #424bf5;

} */

.btn-checkout {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-checkout:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* CSS */
.btn_close {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.btn_close:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.btn_close:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.btn_close:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.btn_close:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn_close:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.btn_close:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btn_close:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.btn_close:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

/* close button start */

.close-container {
  position: relative;
  margin: auto;
  width: 50px;
  height: 50px;
  left: 32%;
  cursor: pointer;
}

.leftright {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #F4A259;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.rightleft {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #F4A259;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

label {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: #F25C66;
}

.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: #F25C66;
}

.close-container:hover label {
  opacity: 1;
}

@media (max-width:550px) {
  .close-container {
    position: relative;
    margin: auto;
    width: 50px;
    height: 50px;
    left: 20%;
    cursor: pointer;
  }
}

/* close button end */




.footer-icon a:hover i {
  color: white;
}

.footer-icon a:hover {
  background: #0e148b;
  border: 1.1px solid #0e148b;
}

.menu-head {
  font-size: x-large;
  font-family: cursive;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width:500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
.menu-list img {
  width: 41px;
  height: 41px;
  object-fit: cover;
}
.count-number-input {
  width: 24px;
  text-align: center;
  margin: 0 -4px;
  background: #6c757d;
  border: none;
  color: #fff;
  height: 24px;
  border-radius: 0px;
  vertical-align: bottom;
}
.count-number .btn {
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 0px;
}



/* for special and exclusive */




.containers {
    background: linear-gradient(45deg, blueviolet, lightgreen);
    padding: 15px 9%;
    padding-bottom: 100px;
}

.containers .headings {
    text-align: center;
    padding-bottom: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 25px;
}

.containers .box-containers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.containers .box-containers .boxs {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.containers .box-containers .boxs img {
    height: 150px;
}

/* .containers .box-containers .box h3 {
    color: #444;
    font-size: 22px;
    padding: 10px 0;
} */

.containers .box-containers .boxs p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}

.containers .box-containers .boxs .btn {
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.containers .box-containers .boxs .btn:hover {
    letter-spacing: 1px;
}

.containers .box-containers .boxs:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}

@media (max-width:768px) {
    .containers {
        padding: 20px;
    }
}





/* special2 */
.offericon {
    position: relative;
    width: 83.59px;
    height: 39px;
    left: 80%;
    top: -15%;
    background: #F3280F;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.28px;
    color: #FFFFFF;
    padding-left: 5px;

}