
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"> {% endcomment %}
    {% comment %} <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"> {% endcomment %}
    {% comment %} <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" /> {% endcomment %}
    <link href="{% static 'reception/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'reception/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="{% url 'dashboard' %}" class="navbar-brand mx-4 mb-3">
                    <h4 class="text-primary"><i class="fa fa-sun me-2"></i>{{mainuser.full_name}}</h4>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="{% static 'reception/img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Dashboard</h6>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="{% url 'dashboard' %}" class="nav-item nav-link"><i class="fa fa-cart-plus me-2"></i>All products</a>
                    <a href="{% url 'addcategory' %}" class="nav-item nav-link"><i class="fa fa-list me-2"></i>Add Category</a>
                    <a href="{% url 'allspecial' %}" class="nav-item nav-link"><i class="fa fa-crown"></i>Special Products</a>
                    <a href="{% url 'allexclusive' %}" class="nav-item nav-link"><i class="fa fa-percentage"></i>Exclusive Products</a>
                    <a href="{% url 'change_password' %}" class="nav-item nav-link"><i class="fa fa-cog"></i>Settings</a>

                </div>
            </nav>

        </div>
        
        <div class="content">
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="{% static 'reception/img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">{{request.user.username}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
                            <a href="{% url 'change_password' %}" class="dropdown-item">Change Password</a>
                        </div>
                    </div>
                    
                </div>
            </nav>
            {% block content %}
            {% endblock content %}
        </div>
       
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    {% comment %} <script type="text/javascript" src="{% static 'js/thisscript.js' %}"></script> {% endcomment %}

    {% comment %} <script src="{% static 'reception/lib/chart/chart.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'reception/lib/easing/easing.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'reception/lib/waypoints/waypoints.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'reception/lib/owlcarousel/owl.carousel.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'reception/lib/tempusdominus/js/moment.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'reception/lib/tempusdominus/js/moment-timezone.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'reception/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'reception/js/main.js' %}"></script>
</body>
</html>