



{% extends 'dashboard/base.html' %}
{% block title %}{% endblock title %}
{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-center mb-4 mygap">
                {% for cat in category %}
                    <h2>{{cat.name}}</h2>
                    <a href="{% url 'addproduct' cat.id %}"><button class="btn btn-success">Add Product</button> </a>
                    {% endfor %}
                
            </div>
            <div>
              
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle mb-0">
                    <thead>
                        <tr class="text-dark">
                            <th>  </th>
                            <th> Product name </th>
                            <th> Amount </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cat in category %}
                            {% for product in cat.product_set.all %}
                            <tr>
                                <td class="py-1">
                                    <img class="rounded-circle" src="{{product.image.url}}" alt="image" style="width: 40px; height: 40px;">
                                </td>
                                <td>{{product.name}}</td>
                                <td > {{product.price}}</td>
                                <td ><a href="{% url 'editproduct' product.id %}" class="btn btn-warning"><i class="fa fa-edit"> </i></a> <a href="{% url 'deleteproduct' product.id %}" class="btn btn-danger"><i class="fa fa-trash"> </i></a></td>
                            </tr>
                              {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}