



{% extends 'dashboard/base.html' %}
{% block title %}{% endblock title %}
{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-start rounded p-4">   
<div class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4 ">
        <h6 class="mb-4">Are you sure Want to remove {{product.name}} from Today's Special?</h6>
        {% load crispy_forms_tags %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Yes</button>
            <button  class="btn btn-danger"><a href="{% url 'allspecial' %}">no</a></button>
    </form>
    </div>
</div>
</div>
</div>
{% endblock content %}